body {
    font-family: 'Roboto', Arial, sans-serif;
    background-color: #c8ccd4;
    background: url("/public/images/15.png");
    background: linear-gradient(rgba(11,11,11,0.5),rgba(11,11,11,0.5),url("/public/images/15.png"));
    background-position: center;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-size: 100% 120%;
  }
  
  .container {
     
    background-color: rgba(1, 32, 93, 0.6);;
    padding: 50px;
    border-radius: 12px;
    color: white;
    width: 400px;
    text-align: center;
  }
  
  .container img {
    width: 50px;
    margin-bottom: 15px;
  }
  
  .container h2 {
    color: #000000;
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .form-group {
    position: relative;
    margin-bottom: 30px;
  }
  
  input {
    width: 70%;
    padding: 12px 40px;
    border: 1px solid #000000;
    border-radius: 8px;
    font-size: 14px;
    color: #000000;
    background-color: #f9f9f9;
  }
  
  input:focus {
    border-color: #2c3e50;
    outline: none;
    background-color: #888585;
  }
  
  .form-group i {
    position: absolute;
    top: 12px;
    left: 12px;
    font-size: 18px;
    color: #bdc3c7;
  }
  
  button {
    width: 100%;
    padding: 12px;
    background-color:  #000000;
    color: #ffffff;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  button:hover {
    background-color: #435363;
  }
  
  button i {
    margin-left: 8px;
  }
  
  .forgot-password {
    margin-top: 15px;
    font-size: 14px;
    color: #3498db;
    text-decoration: none;
  }
  
  .forgot-password:hover {
    text-decoration: underline;
  }
  